body {
  background-color: #c3a374;
}

.topper {
  background-color: #a47a3c;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  grid-auto-rows: 8%;
  grid-template-areas:
    "header header button1 button2"
    ". . . .";
  align-items: start;
  border: 2px solid #77552f;
  border-radius: 10px;
}

#title {
  grid-area: header;
  font-size: 70px;
}

#objectIdInput,
#objectIdSubmit {
  font-size: 25px;
}

#objectIdInput {
  width: 400px;
}

#objectIdSubmit {
  background-color: #dcba82;
}

.topperButton {
  grid-area: button1;
  background-color: #dcba82;
  font-size: x-large;
  justify-self: flex-end;
}
#topperButton2 {
  grid-area: button2;
  justify-self: last baseline;
}

.spacer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  grid-template-areas: "space space";
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  grid-auto-rows: 700px;
  grid-template-areas:
    "a a a a e e e e"
    "b b b b b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
  align-items: start;
  border: 2px solid #77552f;
  border-radius: 5px;
  background-color: #a47a3c;
}
.item1 {
  grid-area: a;
  border: 2px solid #77552f;
  border-radius: 5px;
  background-color: #dcba82;
  justify-self: save;
}

#artTitle {
  font-size: 30px;
  text-align: center;
}

#titlePara {
  font-size: 50px;
  text-align: center;
}

.item2 {
  grid-area: b;
  border: 2px solid #77552f;
  border-radius: 5px;
  background-color: #dcba82;
  justify-self: save;
}

th,
td {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;
  border: 2px solid #77552f;
}

th {
  font-size: 50px;
}

td {
  font-size: 35px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#info {
  text-align: center;
  font-size: 30px;
}

table {
  border-spacing: 25px;
}

.item3 {
  grid-area: c;
  border: 2px solid #77552f;
  border-radius: 5px;
  background-color: #dcba82;
  justify-self: save;
}
.item4 {
  grid-area: d;
  border: 2px solid #77552f;
  border-radius: 5px;
  background-color: #dcba82;
  justify-self: save;
}
.item5 {
  grid-area: e;
  border: 2px solid #77552f;
  border-radius: 5px;
  justify-self: save;
  background-color: #dcba82;
}

#mainThing {
  text-align: center;
  font-size: 30px;
}

#titleGrid {
  font-size: large;
  display: inline-block;
  min-width: 200px;
  min-height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  overflow-wrap: break-word;
}

#mainPhoto {
  max-width: 100%;
  max-height: 725px;
  min-width: 250px;
  min-height: auto;
}
